.footer__li {
    /* display: flex;
    flex-direction: row;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%; */
    /* word-spacing: 3px; */

    color: wheat;
    margin-left: 68px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
   

    

}