.footer__link {
    /* color: white;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 400px;
    width: 100%;
    height: 18px;
    left: 48px; 
    word-spacing: 15px; */
    
    display: flex;
    margin: 1em;
    padding-left: 0;
    list-style: none;

}
      
    
