.footer {
    /* color: white;
    display: flex;
    position: relative;
    flex-direction: row;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: justify;
    margin-left: 90px; 
    margin-top: 60px; */

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: justify;
}




